body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

.hero-text {
  font-family: "Inter Tight", sans-serif !important;
  font-weight: 500;
  letter-spacing: -1px;
}

.testimonial-carousel .carousel-indicators button {
  background-color: #ffffff;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-inner {
  min-height: 500px;
}

.get-now {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #121212;
  background-image: linear-gradient(
    45deg,
    #0088cc 0%,
    #0099ff 51%,
    #1992d4 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Inter";
  font-weight: bold;
}

.get-now:hover {
  background-position: right center;
  /* Change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.get-now:active {
  transform: scale(0.95);
}

@media (max-width: 576px) {
  .hero-img {
    display: none;
  }
}

li {
  font-size: 18px;
}

.pricing {
  margin-bottom: 125px;
}
