@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter";
}

.hero-text {
  font-family: "Inter Tight", sans-serif !important;
  font-weight: 500;
}

.testimonial-carousel .carousel-indicators button {
  background-color: #ffffff;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-inner {
  min-height: 500px;
}

.get-now {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #7f00ff;
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #7f00ff 51%,
    #ff512f 100%
  );
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.get-now:hover {
  background-position: right center;
  /* Change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.get-now:active {
  transform: scale(0.95);
}

@media (max-width: 576px) {
  .hero-img {
    display: none;
  }
}

.diamond {
  background-image: linear-gradient(
    45deg,
    #ff512f 0%,
    #7f00ff 51%,
    #ff512f 100%
  );
}
